<footer>
    <button type="button" class="comp-collapse-btn open" data-toggle="collapse" data-target="#comp-info" aria-expanded="true" aria-controls="comp-info">티홀 사업자 정보</button>
    <div id="comp-info" class="comp-info">
        <ul>
            <li>대표이사&nbsp;&nbsp;&nbsp;홍길동</li>
            <li>개인정보보호책임&nbsp;&nbsp;&nbsp;홍길동</li>
            <li>사업자등록번호&nbsp;&nbsp;&nbsp;100-11-22203</li>
            <li>통신판매업신고&nbsp;&nbsp;&nbsp;제2020-서울강남-01211호</li>
            <li>고객센터&nbsp;&nbsp;&nbsp;1577-1472</li>
            <li>이메일&nbsp;&nbsp;&nbsp;thall@naver.com</li>
        </ul>
    </div>
    <ul class="comp-link">
        <li><a href="">개인정보 처리방침</a></li>
        <li><a href="">이용약관</a></li>
    </ul>
    <p class="copyright">Copyright © 2020 T.Hall All rights reserved.</p>
</footer>